.main{
    display:flex;
    flex-direction: column;
    position: grid;
    place-items: center;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

input[type="email"],input[type="password"]{
    margin: 4px 2px; 
    padding :3px 6px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
